<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='angularjs/angular.js') }}"></script>
<script src="{{ url_for('static', filename='angularjs/angular-route.js') }}"></script>
{% assets "main_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<body ng-app="peas" ng-strict-di>
  <div id="layout">
    <div id="navi" navi></div>
    <div id="main">
      <div ng-view></div>
    </div>
  </div>
</body>
